/* ===== General Setup ===== */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #ffffff;
  color: #000000;
}

/* ===== Header ===== */
header {
  background-color: #000000;
  padding: 10px 20px;
}

.header-container {
  display: flex;
  align-items: center;
}

.logo {
  height: 75px; /* adjust based on your logo proportions */
  width: auto;
  cursor: pointer;
  margin-bottom: 5px;
  margin-top: 5px;
  margin-left: 3px;
}

/* ===== Hero Section ===== */
.hero {
  text-align: center;
  padding: 100px 20px;
  background-color: #FC6600;
  color: #ffffff;
}

.hero h2 {
  font-size: 2rem;
  margin-bottom: 10px;
}

.hero p {
  font-size: 1.1rem;
  margin-bottom: 25px;
}

.hero button {
  background-color: #000000;
  color: #ffffff;
  border: none;
  padding: 12px 25px;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 4px;
  transition: 0.3s ease;
}

.hero button:hover {
  background-color: #ffffff;
  color: #000000;
}

/* ===== About Section ===== */
.about {
  padding: 80px 20px;
  background-color: #ffffff;
  color: #000000;
  text-align: center;
}

.about h2 {
  font-size: 1.8rem;
  margin-bottom: 20px;
}

/* ===== Contact Section =====*/
.contact {
  padding: 80px 20px;
  background-color: #000000;
  color: #FC6600;
  text-align: center;
}

.contact h2 {
  font-size: 1.8rem;
  margin-bottom: 15px;
}

.contact a {
  color: #FC6600;
  text-decoration: none;
  font-weight: bold;
}

.contact a:hover {
  text-decoration: underline;
}

/* ===== Footer ===== */
footer {
  background-color: #FC6600;
  color: #ffffff;
  text-align: center;
  padding: 15px 0;
  font-size: 0.9rem;
}

/* ===== Desktop Menu ===== */
.nav-menu {
  display: flex;
  gap: 30px;
  margin-left: auto; /* pushes menu to the right of logo */
}

.nav-menu a {
  color: #FC6600;
  text-decoration: none;
  font-weight: bold;
  transition: 0.3s;
}

.nav-menu a:hover {
  color: #ffffff;
}

/* ===== Hamburger (Mobile) ===== */
.hamburger {
  display: none;
  font-size: 2rem;
  color: #FC6600;
  cursor: pointer;
}

.mobile-menu {  /* Mobile Dropdown Menu */
  display: none;
  flex-direction: column;
  background-color: #000000;
}

.mobile-menu a {
  color: #FC6600;
  padding: 12px 20px;
  text-decoration: none;
  font-weight: bold;
  display: block;
}

.mobile-menu a:hover {
  color: #ffffff;
}

@media screen and (max-width: 768px) {  /* Responsive */
  .nav-menu {
    display: none; /* hide desktop menu on mobile */
  }

  .hamburger {
    display: block; /* show hamburger on mobile */
  }
}
