body {
  margin: 0;
  padding: 0;
  font-family: 'Archivo Black', sans-serif;
  background-color: #000000;
  color: #FC6600;
}

header {
  text-align: center;
  padding: 1rem 0;
}

header h1 {
  font-weight: bold;
  font-size: 2rem;
  color: #FC6600;
  margin: 0;
}
