/* ---------------- GLOBAL STYLES ---------------- */
body {
  margin: 0;
  padding: 0;
  font-family: 'Archivo Black', sans-serif;
  background-color: #000000; /* Main background black */
  color: #FC6600;            /* Main text color orange */
}

/* ---------------- HEADER ---------------- */
header {
  text-align: center;
  padding: 1rem 0;
}

header h1 {
  font-weight: bold;
  font-size: 2rem;           /* Not too big */
  color: #FC6600;            /* Orange */
  margin: 0;
}
